.logo {
  display: flex;
  border: 2px solid tan;
  padding: 10px;
  flex-direction: column;
}

.text {
  color: #145214;
  font-family: "Trebuchet MS";
  text-align: left;
  font-weight: bold;
  font-size: 18px;
}

.subText {
  font-size: 10px;
  padding-top: 3px;
}